@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /Applications/MAMP/htdocs/store/wp-content/themes/walker/assets/custom-styles/general-custom-styles-responsive.php walker_edge_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder { height: auto !important;min-height: 400px;}

/* generated in /Applications/MAMP/htdocs/store/wp-content/themes/walker/assets/custom-styles/general-custom-styles-responsive.php walker_edge_h2_responsive_styles function */
h2 { line-height: 30px;}

}

@media only screen and (max-width: 480px){
	/* generated in /Applications/MAMP/htdocs/store/wp-content/themes/walker/assets/custom-styles/general-custom-styles-responsive.php walker_edge_design_responsive_styles function */
.edgtf-section.edgtf-parallax-section-holder { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 1024px){
	/* generated in /Applications/MAMP/htdocs/store/wp-content/themes/walker/assets/custom-styles/general-custom-styles-responsive.php walker_edge_content_responsive_styles function */
.edgtf-content .edgtf-content-inner > .edgtf-container > .edgtf-container-inner, .edgtf-content .edgtf-content-inner > .edgtf-full-width > .edgtf-full-width-inner { padding-top: 40px!important;}

}